{% extends "base.html" %}

{% block content %}
<form method="post" action="{% url 'account:login' %}">
    {% csrf_token %}
<!-------------------------------------- 입력에 에러가 났을 때 불러올 html-->
    {% include "form_errors.html" %}
<!-------------------------------------- 입력을 위한 공간-->
    <div class="form-group">
        <label for="username">ID</label>
        <input type="text" class="form-control" name="username" id="username"
               value="{{ form.username.value|default_if_none:'' }}">
    </div>
    <div class="form-group">
        <label for="password">비밀번호</label>
        <input type="password" class="form-control" name="password" id="password"
               value="{{ form.password.value|default_if_none:'' }}">
    </div>
    <button type="submit" class="btn btn-primary">로그인</button>
    <a href="{% url 'account:password_reset' %}">비밀번호를 까먹었는가</a>

    <input type="hidden" name="next" value="{{ next }}"><!--로그인 성공 후 이전 페이지로 이동하게끔 하는 기능-->
</form>
{% endblock %}