{% extends 'base.html' %}

{% block content %}

<div class="container my-3">
    <div class="row my-3">
        <div class="col-4">
            <span>정보 수정</span>
        </div>
    </div>

    <form method="post" class="post-form" enctype="multipart/form-data">
        {% csrf_token %}
        {% include "form_errors.html" %}
        <div class="form-group">
            <input type="file" class="form-control" name="user_profile" id="user_profile"
                   value="{{ form.user_profile.value|default_if_none:'profile/user.png' }}">
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="username" id="username"
                   value="{{ form.username.value|default_if_none:'' }}" readonly>
        </div>
        <div class="form-group">
            <label for="nickname">사용자 닉네임</label>
            <input type="text" class="form-control" name="nickname" id="nickname"
                   value="{{ form.nickname.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <label for="email">이메일</label>
            <input type="email" class="form-control" name="email" id="email"
                   value="{{ form.email.value|default_if_none:'' }}" readonly>
        </div>
        <div class="form-group">
            <label for="school_name">학교 이름</label>
            <input type="text" class="form-control" name="school_name" id="school_name"
                   value="{{ form.school_name.value|default_if_none:'' }}">
        </div>
        <div class="form-group">
            <input type="file" class="form-control" name="school_photo" id="school_photo"
                   value="{{ form.school_photo.value|default_if_none:'' }}">
        </div>
        <button type="submit" class="btn btn-primary">수정하기</button>
    </form>
</div>

{% endblock %}