<!DOCTYPE html>
<html lang="kor">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0"
    />
    <title>ANDO : 비밀번호 재설정</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/password_reset_done.css' %}" />
  </head>
    <div class="container"></div>
      <header class="hd">
        <img
          src="{% static 'image/back.png' %}"
          alt="뒤로가기"
          onclick="goBack()"
        />
      </header>

      <section class="sec-total">
        <section class="sec">
          <div class="sec-title">
            <p>재설정 메일을 발송했어요!</p>
          </div>
          <div class="sec-comment">
            <p>30분 내에 비밀번호를 재설정 해주세요.</p>
          </div>
          <div class="sec-comment">
            <p>
              만약 메일이 오지 않는다면 이메일 주소를 다시 한 번 확인해 주시고,
              스팸 폴더를 확인해주세요.
            </p>
          </div>
        </section>
        <section class="sec-login">
          <div class="login-box">
            <div class="login-btn-box">
              <div class="login-btn">
                <a href="{% url 'account:login' %}"><p>로그인 하기</p></a>
              </div>
            </div>
          </div>
        </section>
      </section>
    </div>
    <script src="{% static 'js/navigateTo/go-back.js' %}"></script>
    <script src="{% static 'js/navigateTo/go-back-nonclick.js' %}"></script>
  </body>
</html>
