<!DOCTYPE html>
<html lang="kor">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0"
    />
    <title>ANDO : 비밀번호 재설정</title>
    {% load static %}
    <link
      rel="stylesheet"
      href="{% static 'css/password_reset_confirm.css' %}"
    />
  </head>
  <body>
    <header class="hd"></header>

    <section class="sec-total">
      <section class="sec">
        <div class="sec-title">
          <p>비밀번호 재설정</p>
        </div>
        <div class="sec-comment">
          <p>새로운 비밀번호를 입력해 주세요.</p>
        </div>
      </section>
      <section class="sec-2">
        <div class="sec-form">
          <form method="POST" name="newpsw">
            {% csrf_token %} {{ form }}
            <div class="wrap">
              <div class="psw-textBox">
                <input
                  id="psw-text"
                  type="text"
                  name="password"
                  value=""
                  placeholder="New Password"
                  oninput="handlePasswordInput()"
                />
              </div>
            </div>
            <div class="wrap">
              <div class="psw-textBox">
                <input
                  id="psw-text"
                  type="text"
                  name="password2"
                  value=""
                  placeholder="Password Check"
                  oninput="handlePasswordInput()"
                />
              </div>
              <div class="psw-check">
                <img src="{% static 'image/check.png' %}" alt="동일 체크" />
              </div>
            </div>
            <div class="psw-box">
              <div class="psw-btn-box">
                <input id="psw-btn" type="submit" value="완료" />
              </div>
            </div>
            <script>
              function handlePasswordInput() {
                var pwCheck = document.newpsw;
                var submitBtn = document.getElementById("psw-btn");
                var pswCheck = document.querySelector(".psw-check");

                if (
                  pwCheck.password.value === pwCheck.password2.value &&
                  pwCheck.password.value !== "" &&
                  pwCheck.password2.value !== ""
                ) {
                  submitBtn.style.backgroundColor = "#1c4747";
                  submitBtn.style.color = "white";
                  submitBtn.style.border = "none";
                  pswCheck.style.display = "block";
                } else {
                  submitBtn.style.backgroundColor = "white";
                  submitBtn.style.color = "#1c4747";
                  submitBtn.style.border = "2px solid #1c4747";
                  pswCheck.style.display = "none";
                }
              }
            </script>
          </form>
        </div>
      </section>
    </section>
  </body>
</html>
