<!DOCTYPE html>
<html lang="kor">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0"
    />
    <title>ANDO : 게시글</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/post_look.css' %}" />

    <script>
      window.addEventListener('DOMContentLoaded', function() {
        const secComment = document.querySelector('.sec-comment');

        function setSecCommentHeight() {
          const windowHeight = window.innerHeight;
          const secCommentTop = secComment.getBoundingClientRect().top;
          const secCommentBottom = secComment.getBoundingClientRect().bottom;
          const secCommentHeight = windowHeight - secCommentTop;

          secComment.style.height = Math.max(secCommentHeight, secCommentBottom - secCommentTop) + 'px';
        }

        // 초기 로드 시 sec-comment 높이 설정
        setSecCommentHeight();

        // 윈도우 리사이즈 시 sec-comment 높이 업데이트
        window.addEventListener('resize', function() {
          setSecCommentHeight();
        });
      });
    </script>
  </head>
  <body>
    <header class="hd">
      <img src="{% static 'image/back.png' %}" alt="뒤로가기" onclick="goBack()"/>     
      <p>게시글</p>
    </header>

    <section class="sec-total">
      <section class="sec">
        <div class="sec-title">
          <p>{{ board.title }}</p>
        </div>
        <div class="sec-profile-time">
          <div class="sec-profile">
            <div class="sec-profile-img">
              <img src="{{ board.user.user_profile.url }}" alt="프로필 이미지" />             
            </div>
            <div class="sec-profile-content">
              <div class="sec-profile-id">
                <p>{{ board.user.username }}</p>
              </div>
              <div class="sec-profile-school">
                <p>{{ board.user.school_name }}</p>
              </div>
            </div>
          </div>
          {% if board.user == request.user %}
          <div class="rewrite-delete-write-time">
            <div class="rewrite-delete">
              <a href="{% url 'board_post' %}"><p>수정</p></a>
              <p>삭제</p>
            </div>
            <div class="write-time">
              <p>작성시간</p>
              <p>{{ board.created_at }}</p>
            </div>
          </div>
          {% else %}
          <div class="write-time">
            <p>작성시간</p>
            <p>{{ board.created_at }}</p>
          </div>
          <style>
            .write-time {
              margin-top: 20px;
            }
          </style>
          {% endif %}
        </div>     
        <div class="sec-content">
          <div class="sec-content-box">
            <div class="startpoint-box">
              <div class="startpoint-address">
                <p>{{ board.address }}</p>
              </div>
              <div class="startpoint-address-2">{{ board.startpoint }}</div>
            </div>
            <div class="arrow-box">
              <img src="{% static 'image/arrow.png' %}" alt="화살표" />
            </div>
            <div class="endpoint-box">
              <div class="endpoint-address">
                <p>{{ board.address_end }}</p>
              </div>
              <div class="endpoint-address-2">{{ board.endpoint }}</div>
            </div>
            </div>
          </div>
        </div>
        <div class="sec-content-other">
          <div class="wrap-content-count">
            <div class="wrap-content">
              <div class="wrap">
                <div class="id">
                  <p>이동 수단</p>
                </div>
                <div class="id_text">
                  <p>{{ board.way }}</p>
                </div>
              </div>
              <div class="wrap">
                <div class="id">
                  <p>출발 시각</p>
                </div>
                <div class="id_text">
                  <p>{{ board.start_time }}</p>
                </div>
              </div>
            </div>
            <div class="wrap-count">
              <div class="wrap-count-p">
                <p>모집 인원</p>
              </div>
              <div class="count">
                <p>{{ board.countcheck }}</p>
                <p>/</p>
                <p>{{ board.count }}</p>
              </div>
            </div>
          </div>       
          <div class="wrap">
            <div class="id-content">
              <p>내용</p>
            </div>
          </div>
          <div class="id_text_content">
            <p>{{ board.description }}</p>
          </div>
        </div>
      </section>
      <section class="sec-comment">
        {% if board.user != request.user %}
        
        <div class="comment-title-box">
        {% for comment in board.comment_set.all %}
        {% if forloop.counter == 1 %}
          <!-- 모집 완료-->
          {% if comment.board.complete %}
            <div class="comment-title">
              <p>안도의 후기</p>
            </div>
          {% else %}
          <!-- 모집 중 -->
          <div class="comment-title">
            <p>안도 채팅</p>
          </div>
          <div class="comment-btn">
            <a href="{% url 'board_done' pk=board.pk %}"><p>신청하기</p></a>
            </div>
            {% if messages %}
            <ul class="messages">
              {% for message in messages %}
                {% if message.tags %} {% endif %}
                {{ message }}
              {% endfor %}
            </ul>
            {% endif %}
          {% endif %}
          </div>
        {% endif %}
        {% empty %}
         <!-- 모집 완료-->
          {% if comment.board.complete %}
          <div class="comment-title">
            <p>안도의 후기</p>
          </div>
        {% else %}
        <!-- 모집 중 -->
        <div class="comment-title">
          <p>안도 채팅</p>
        </div>
        <div class="comment-btn">
          <a href="{% url 'board_done' pk=board.pk %}"><p>신청하기</p></a>
          </div>
          {% if messages %}
          <ul class="messages">
            {% for message in messages %}
              {% if message.tags %} {% endif %}
              {{ message }}
            {% endfor %}
          </ul>
          {% endif %}       
        {% endif %}
        </div>
        {% endfor %}
        <!-- 작성자 본인 -->
        {% else %}
        <div class="comment-title-box">
          {% for comment in board.comment_set.all %}
          {% if forloop.counter == 1 %}
            <!-- 모집 완료-->
            {% if comment.board.complete %}
              <div class="comment-title">
                <p>안도의 후기</p>
              </div>
            {% else %}
            <!-- 모집 중 -->
            <div class="comment-title">
              <p>안도 채팅</p>
            </div>
            <!-- <div class="comment-btn">
              <a href="{% url 'board_done' pk=board.pk %}"><p>모집완료</p></a>
              </div>
              {% if messages %}
              <ul class="messages">
                {% for message in messages %}
                  {% if message.tags %} {% endif %}
                  {{ message }}
                {% endfor %}
              </ul>
              {% endif %} -->
            {% endif %}
            </div>
          {% endif %}
          {% empty %}
           <!-- 모집 완료-->
            {% if comment.board.complete %}
            <div class="comment-title">
              <p>안도의 후기</p>
            </div>
          {% else %}
          <!-- 모집 중 -->
          <div class="comment-title">
            <p>안도 채팅</p>
          </div>
          <!-- <div class="comment-btn">
            <a href="{% url 'board_done' pk=board.pk %}"><p>모집완료</p></a>
            </div>
            {% if messages %}
            <ul class="messages">
              {% for message in messages %}
                {% if message.tags %} {% endif %}
                {{ message }}
              {% endfor %}
            </ul>
            {% endif %}        -->
          {% endif %}
          </div>
          {% endfor %}     
        {% endif %}
        <!-- 채팅 목록 -->
        {% for comment in board.comment_set.all %}
          <!-- 후기 -->
          {% if comment.board.complete %}
          {% if comment.review %}
            <div class="other-plus-profile">
              <div class="other-profile-img">
                <img src="{{ comment.user.user_profile.url }}" alt="프로필 사진">
              </div>
              <div class="other-profile-id-box">
                <div class="other-id">
                  <p>{{ comment.user.username }}</p>
                </div>
                <div class="comment-content-box-other">
                  <div class="comment-content-other">
                    <p>{{ comment.content }}</p>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
          <!-- 모집중 채팅 -->
          {% else %}
            {% if not comment.review %}
            <div class="other-plus-profile">
              <div class="other-profile-img">
                <img src="{{ comment.user.user_profile.url }}" alt="프로필 사진">
              </div>
              <div class="other-profile-id-box">
                <div class="other-id">
                  <p>{{ comment.user.username }}</p>
                </div>
                <div class="comment-content-box-other">
                  <div class="comment-content-other">
                    <p>{{ comment.content }}</p>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}
          {% endif %}
        {% endfor %}
      </section>
    </section>
    <navigation class="nav">
      <form method="POST" name="chat" action="{% url 'comment_post' pk=board.pk %}"  enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="chat-input">
          <textarea
              type="text"
              name="content"
              placeholder="텍스트를 입력해주세요"
          ></textarea>
          <input type="submit" id="submit-btn" value="채팅"/>
        </div>
      </form>  
    </navigation>
    <script src="{% static 'js/navigateTo/go-back.js' %}"></script>
    <script src="{% static 'js/navigateTo/go-back-nonclick.js' %}"></script>
  </body>
</html>
