<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0"
    />
    <title>ANDO : 위치</title>
    <link rel="stylesheet" href="{% static 'css/main-location.css' %}" />
    <link rel="apple-touch-icon-precomposed" href="#" />
  </head>
  <body>
    <div class="container">
      <div class="flick-container">
        <header class="hd">
          <div class="top-header-wrap">
            <img
              id="back"
              src="{% static 'image/back.png' %}"
              alt="back"
              width="15px"
              onclick="goBack()"
            />
            <div class="logo-wrap">
              <img id="logo" src="{% static 'image/logo.png' %}" alt="logo" />
            </div>
            <img
              id="mypage"
              src="{% static 'image/mypage.png' %}"
              alt="mypage"
              onclick="goToMyPage()"
            />
          </div>
          <div class="select-wrap">
            <div class="select-box">
              <div class="location-box">
                <select
                  name="locations"
                  id="location-select"
                  onchange="this.form.submit()"
                >
                  <option value="" id="default">
                    출발 지역 선택&nbsp&nbsp ▼
                  </option>
                  {% for value, display_text in address_choices %}
                    <option value="{{ value }}" {% if value == selected_address %}selected{% endif %}>{{ display_text }}</option>
                 {% endfor %}
                </select>
              </div>
              <div id="univ-select" onclick="goToUnivPage()">
                {{ user.school_name }}
              </div>
            </div>
          </div>
          <div class="search-wrap">
            <div class="search-box">
              <img id="search-img" src="{% static 'image/search.png' %}" />
              <form
                action="{% url 'search' %}"
                method="post"
                class="search-form"
                style="border: none"
              >
                {% csrf_token %}
                <fieldset style="border: none">
                  <input
                    type="text"
                    name="q"
                    id="search"
                    placeholder="출발지를 ‘ㅇㅇ동’으로 입력해보세요 !"
                    style="border: none"
                    value="{{ q }}"
                  />
                  <button
                    type="button"
                    id="search-submit"
                    style="display: none"
                  ></button>
                </fieldset>
              </form>
              <img id="fieldreset" src="{% static 'image/fieldreset.png' %}" />
            </div>
          </div>
        </header>
        <div class="bd">
          <div class="border-radius-background"></div>
          <div class="content">
            <div class="board-list">
              <!-- 여기 main-whitebox.html 추가 -->
              {% for board in boards %}
              <div class="box-wrap" onclick="goToPostPage()">
                <div class="profile-img-box">
                  <img id="profile-img" src="{% static 'image/profile.jpg' %}" />
                </div>
                <div class="whitebox">
                  <div class="profile-info-wrap">
                    <span id="nickname">{{ user.nickname }}</span>
                    <span id="uschool">{{ user.school_name }}</span>
                  </div>
                  <div class="main-content-wrap">
                    <h1 id="content-title">{{ board.title }}</h1>
                    <div class="location-wrap">
                      <div class="departure-box">
                        <span id="departure">{{ board.address }}</span>
                      </div>
                      <img id="arrow" src="{% static 'image/arrow.png' %}" />
                      <div class="arrival-box">
                        <span id="arrival">{{ board.address_end }}</span>
                      </div>
                    </div>
                    <div class="time-wrap">
                      <span id="time-label">출발 시각</span>
                      <div id="time-box"><span id="time">{{ board.start_time }}</span></div>
                    </div>
                  </div>
                  <div class="side-content-wrap">
                    <div class="recruitment-box">
                      <span id="current-recruitment">{{ board.countcheck }}</span>
                      <span id="slash">/</span>
                      <span id="total-recruitment">{{ board.count }}</span>
                    </div>
                    <div class="transportation-box">
                      <span id="transportation">{{ board.way }}</span>
                    </div>
                  </div>
                </div>
              </div>
              <table></table>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
      <button id="write-button" type="button">
        <img
          id="write-button-img"
          src="{% static 'image/write.png' %}"
          onclick="goToWritePage()"
        />
      </button>
    </div>
    <script src="{% static 'js/content-height.js' %}"></script>
    <script src="{% static 'js/search-enterkey.js' %}"></script>
    <script src="{% static 'js/navigateTo/to-mypage.js' %}"></script>
    <script src="{% static 'js/navigateTo/to-post-page.js' %}"></script>
    <script src="{% static 'js/navigateTo/to-univ-page.js' %}"></script>
    <script src="{% static 'js/navigateTo/to-write-page.js' %}"></script>
    <script src="{% static 'js/navigateTo/go-back.js' %}"></script>
  </body>
</html>
