@media (hover: hover) {
  html {
    width: 375px;
    margin: 0 auto;
  }
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
  color: #333333;
}
body {
  margin: 0;
  font-family: "Pretendard-Regular";
}
.container {
  position: relative;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  overflow: auto;
}

header.hd {
  padding-bottom: 10px;
  background-color: #72a7a8;
}
.top-header-wrap {
  padding-top: 16px;
}
img#back {
  position: absolute;
  left: 16px;
  top: 20.25px;
  color: white;
  filter: invert(99%) sepia(4%) saturate(501%) hue-rotate(273deg)
    brightness(114%) contrast(93%);
}
#logo {
  width: 80px;
}
.logo-wrap {
  position: relative;
}
img#mypage {
  position: absolute;
  top: 17px;
  right: 5%;
  width: 26px;
}

.select-wrap {
  margin-top: 24px;
}
.select-box,
#location-select,
#univ-select {
  display: inline-block;
}
.select-box {
  box-sizing: border-box;
  width: 291px;
  height: 35px;
  position: relative;
  background-color: #f6f6f6;
  border-radius: 22.5px;
  box-shadow: 0px 9px 5px -4px #567e7f;
}
div#location-select {
  box-sizing: border-box;
  width: 146px;
  height: 35px;
  font-size: 13px;
  position: absolute;
  left: 0px;
  top: 10px;
}
div#univ-select {
  position: absolute;
  top: 0px;
  right: 0px;
  box-sizing: border-box;
  width: 152px;
  font-size: 13px;
  background-color: #285f60;
  color: #f6f6f6;
  padding: 10px 30px;
  border-radius: 22.5px;
}

.search-box {
  margin: 0 auto;
  position: relative;
  box-sizing: border-box;
  width: 291px;
  height: 35px;
  border-radius: 22.5px;
  margin-top: 17px;
  border: 1px solid #f6f6f6;
}
img#search-img {
  position: absolute;
  left: 13px;
  top: 10px;
  width: 16px;
}
form.search-form {
  position: absolute;
}
input#search {
  width: 220px;
  background-color: #72a7a8;
  font-size: 11px;
  margin-left: 24px;
  font-weight: bold;
  color: white;
}
input#search::placeholder {
  color: #b0cccc;
}
fieldset:focus,
input:focus {
  outline: none;
  border: none;
}
img#fieldreset {
  position: absolute;
  right: 14px;
  top: 13px;
  width: 9px;
}

.border-radius-background {
  position: relative;
  background-color: #72a7a8;
  height: 100px;
}
.board-list {
  background-color: #f6f6f6;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  padding-top: 25px;
}
.content {
  width: 100%;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  position: absolute;
  top: 177px;
  margin-top: 15px;
}

button#write-button {
  background-color: #72a7a8;
  border: none;
  border-radius: 50%;
  width: 69px;
  height: 69px;
  padding: 0;
  position: fixed;
  bottom: 16px;
  right: 20px;
}
img#write-button-img {
  width: 28px;
}

.box-wrap {
  margin: 8.5px 10%;
  position: relative;
  box-sizing: border-box;
  height: 118px;
}
.profile-img-box {
  width: 50px;
  height: 50px;
  border-radius: 50px;
  background-color: white;
  position: relative;
  z-index: 1;
  box-shadow: 0px 9px 5px -4px #b8b8b8;
}
img#profile-img {
  width: 44px;
  border-radius: 50px;
  padding-top: 3px;
  position: relative;
  z-index: 1;
}
.whitebox {
  display: flex;
  flex-direction: row;
  position: absolute;
  transform: translate(-50%, -50%);
  top: 61%;
  left: 50%;
  width: 100%;
  height: 93px;
  background-color: #ffffff;
  border-radius: 9px;
  box-shadow: 0px 9px 5px -4px #b8b8b8;
}

.profile-info-wrap {
  width: 23%;
  padding-top: 33px;
  text-align: center;
}
span#nickname {
  font-size: 10px;
  display: block;
}
span#uschool {
  font-size: 7px;
}

.main-content-wrap {
  box-sizing: content-box;
  width: 60%;
  margin: 0px;
  margin-top: 11px;
  padding-left: 4%;
}
h1#content-title {
  font-size: 13px;
  margin: 0px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.location-wrap {
  position: relative;
  width: 175px;
  height: 19px;
  margin: 0px;
  margin-top: 9px;
}
.departure-box,
.arrival-box {
  position: absolute;
  box-sizing: border-box;
  width: 56px;
  height: 19px;
  background-color: #285f60;
  color: #f6f6f6;
  font-size: 9px;
  padding-top: 4px;
  border-radius: 9.5px;
}
img#arrow {
  position: absolute;
  width: 22px;
  top: 6px;
  left: 74px;
}
.arrival-box {
  top: 0px;
  left: 114px;
  background-color: #72a7a8;
}
.time-wrap {
  position: relative;
  width: 175px;
  height: 20px;
  margin: 0px;
  margin-top: 11px;
}
span#time-label {
  position: absolute;
  left: 0px;
  top: 0px;
  font-size: 7px;
  margin-top: 2px;
}
div#time-box {
  position: absolute;
  left: 47px;
  font-size: 13px;
  font-weight: bold;
}
.side-content-wrap {
  box-sizing: content-box;
  width: 30%;
  margin-top: 9px;
}
.recruitment-box {
  font-weight: bold;
  font-size: 18px;
}
.transportation-box {
  position: absolute;
  box-sizing: border-box;
  width: 46px;
  right: 7%;
  margin-top: 37px;
  color: #285f60;
  font-size: 9px;
  border: 1px solid #72a7a8;
  padding: 3px 9px;
  border-radius: 11px;
}
