@media (hover: hover) {
  html {
    width: 375px;
    margin: 0 auto;
  }
}
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
  color: #333333;
}
body {
  margin: 0;
  font-family: "Pretendard-Regular";
}
.container {
  position: relative;
  height: 100%;
  margin: 0 auto;
  text-align: center;
  overflow: auto;
  background-color: #f6f6f6;
  -ms-overflow-style: none;
}
.container::-webkit-scrollbar {
  display: none;
}

header.hd {
  height: 48px;
  border-bottom: 1px solid #b3b3b3;
  box-sizing: border-box;
  padding-top: 14px;
  background-color: white;
}
img#back {
  position: absolute;
  left: 29.25px;
}
span#header-title {
  font-size: 17px;
  font-weight: bold;
}

section.profile-sec {
  box-sizing: border-box;
  height: 252px;
  padding: 24px 38px 19px;
  background-color: white;
}
.profile-box-wrap {
  width: 300px;
  height: 190px;
  position: relative;
  margin: 0 auto;
}
.profile-img-box {
  width: 71px;
  height: 71px;
  position: relative;
  border-radius: 50px;
  background-color: white;
  z-index: 1;
  box-shadow: 0px 2px 2px 2px #f6f6f6;
  margin: auto;
}
img#profile-img {
  width: 63px;
  border-radius: 50px;
  padding-top: 4px;
  position: relative;
  z-index: 1;
}
.profile-whitebox {
  position: absolute;
  top: 36px;
  width: 100%;
  height: 154px;
  box-shadow: 0px 2px 2px 2px #f6f6f6;
  border-radius: 8px;
}
span#nickname,
#uemail {
  display: block;
}
span#nickname:first-child {
  display: block;
  padding-top: 45px;
  font-weight: bold;
  font-size: 20px;
  color: #333333;
}
.verify-box {
  width: 100%;
  height: 19px;
  position: relative;
  padding-top: 9px;
}
span#uschool:first-child {
  position: absolute;
  left: 104px;
  font-size: 15px;
}
span#school-verified {
  position: absolute;
  box-sizing: border-box;
  padding-top: 1px;
  width: 49px;
  height: 15px;
  top: 10px;
  left: 203px;
  border: 1px solid #1c4747;
  border-radius: 8.5px;
  font-size: 8px;
  color: #1c4747;
  font-weight: 550;
}
/* 인증이 필요한 사용자 */
/* span#school-unverified {
  position: absolute;
  box-sizing: border-box;
  padding-top: 1px;
  width: 49px;
  height: 15px;
  top: 10px;
  left: 203px;
  border: 1px solid red;
  border-radius: 8.5px;
  font-size: 8px;
  color: red;
  font-weight: 550;
} */
span#uemail {
  padding-top: 9px;
  font-size: 15px;
}
#profile-edit {
  display: block;
  text-align: right;
  font-size: 10px;
  position: absolute;
  top: 197px;
  right: 7px;
}
#profile-edit:visited{
    text-decoration:none;
    color: #333333;
}
section.history-sec {
  height: 80%;
}
div#history-sec-hd {
  margin-left: 10%;
  text-align: left;
  margin-top: 21px;
  margin-bottom: 15px;
  font-weight: bold;
  font-size: 15px;
}

.whitebox {
  display: flex;
  flex-direction: row;
  margin: 14px 10%;
  position: relative;
  box-sizing: border-box;
  width: 80%;
  height: 93px;
  background-color: #ffffff;
  border-radius: 9px;
  box-shadow: 0px 2px 2px 2px #dadada;
}

.main-content-wrap {
  box-sizing: content-box;
  width: 60%;
  margin: 0px;
  margin-top: 11px;
  padding-left: 10%;
}
h1#content-title {
  font-size: 13px;
  margin: 0px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.location-wrap {
  position: relative;
  width: 175px;
  height: 19px;
  margin: 0px;
  margin-top: 9px;
}
.departure-box,
.arrival-box {
  position: absolute;
  box-sizing: border-box;
  width: 56px;
  height: 19px;
  background-color: #285f60;
  color: #f6f6f6;
  font-size: 9px;
  padding-top: 4px;
  border-radius: 9.5px;
}
img#arrow {
  position: absolute;
  width: 22px;
  top: 6px;
  left: 74px;
}
.arrival-box {
  top: 0px;
  left: 114px;
  background-color: #72a7a8;
}
.time-wrap {
  position: relative;
  width: 175px;
  height: 20px;
  margin: 0px;
  margin-top: 11px;
}
span#time-label {
  position: absolute;
  left: 0px;
  top: 0px;
  font-size: 7px;
  margin-top: 2px;
}
div#time-box {
  position: absolute;
  left: 47px;
  font-size: 13px;
  font-weight: bold;
}
.side-content-wrap {
  box-sizing: content-box;
  width: 30%;
  margin-top: 9px;
}
.recruitment-box {
  font-weight: bold;
  font-size: 18px;
}
.transportation-box {
  position: absolute;
  box-sizing: border-box;
  width: 46px;
  right: 7%;
  margin-top: 37px;
  color: #285f60;
  font-size: 9px;
  border: 1px solid #72a7a8;
  padding: 3px 9px;
  border-radius: 11px;
}
