/* initial */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

img {
  width: auto;
  height: 100%;
}

body {
  margin: 0;
  font-family: "Pretendard-Regular";
  background-color: white;
}

a:link,
a:visited {
  text-decoration: none;
}

p {
  margin: 0;
  color: #333333;
}

/* header */
.hd {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hd img {
  height: 17.5px;
  position: absolute;
  left: 20px;
  filter: invert(20%);
}

/* section */
.sec-total {
  overflow-y: auto;
  padding-top: 48px;
  height: calc(100vh - 48px);
}

/* sec */
.sec {
  padding: 0 28px;
}

.sec-title {
  margin-top: 20px;
}

.sec-title p {
  font-size: 28px;
  font-weight: bold;
}

.sec-comment {
  margin-top: 13px;
}

.sec-comment p {
  font-size: 11px;
}

/* sec-form */
.sec-form {
  margin-top: 80px;
}

.wrap {
  width: 303.5px;
  margin-top: 30px;
  margin-left: 34px;
  border: 2px solid #1c4747;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  display: flex;
  justify-content: space-between;
}

.psw-check {
  margin-top: 5px;
  display: none;
}

.psw-check img {
  width: 18px;
  height: 18px;
}

.helptext {
  width: 303.5px;
  margin-top: 5px;
  margin-left: 34px;
}

.helptext ul {
  padding-left: 13px;
  margin: 0;
}

.helptext li {
  font-size: 9px;
  font-weight: bold;
  color: #1c4747;
  padding-top: 5px;
}

.psw-textBox {
  height: 30px;
}

#psw-text {
  background: none;
  border: none;
  outline: none;
  resize: none;
  width: 273.5px;
  font-family: "Pretendard-Regular";
  font-size: 16px;
  margin-bottom: 5px;
}

/* psw-box */
.psw-box {
  position: absolute;
  bottom: 75px;
  width: 100vw;
}

.psw-btn-box {
  display: flex;
  justify-content: center;
}

.psw-btn-box input[type="submit"] {
  font-family: "Pretendard-Regular";
}

#psw-btn {
  width: 236px;
  height: 48px;
  background-color: white;
  border: 2px solid #1c4747;
  border-radius: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
  color: #1c4747;
}
