/* initial */
@font-face {
  font-family: "Pretendard-Regular";
  src: url("https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff")
    format("woff");
  font-weight: 400;
  font-style: normal;
}

img {
  width: auto;
  height: 100%;
}

body {
  margin: 0;
  font-family: "Pretendard-Regular";
  background-color: #f6f6f6;
}

a:link,
a:visited {
  text-decoration: none;
}

p {
  margin: 0;
  color: #333333;
}

/* header */
.hd {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #285f60;
}

.hd img {
  height: 17.5px;
  position: absolute;
  left: 20px;
  filter: invert(100%);
}

.hd > p {
  color: #f6f6f6;
  font-size: 15px;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

/* section */
.sec-total {
  overflow-y: auto;
  padding-top: 48px;
  height: calc(100vh - 48px);
}

.sec-total::-webkit-scrollbar {
  display: none; /* 스크롤바 숨김 */
}
/* sec-title */
.sec-title {
  background-color: white;
  margin-bottom: 8px;
  border: 1px solid #b3b3b3;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
}

#title_text {
  border: none;
  background: 0;
  outline: none;
  font-size: 28px;
  font-weight: bolder;
  color: #333333;
  margin: 13px 16px;
  font-family: "Pretendard-Regular";
  width: calc(100vw - 32px);
  padding: 0;
}

/* sec-profile */
.sec-profile-delete {
  display: flex;
  justify-content: space-between;
  margin: 12px 16px -20px 16px;
  align-items: center;
}

.sec-profile {
  display: flex;
  align-items: center;
}

.sec-profile-img {
  width: 44px;
  height: 44px;
  background-color: white;
  border: none;
  border-radius: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sec-profile-img img {
  height: 18px;
  filter: brightness(85%) saturate(120%);
}

.sec-profile-content {
  margin-left: 10px;
}

.sec-profile-id p {
  font-size: 15px;
}

.sec-profile-school p {
  margin-top: 4px;
  font-size: 10px;
}

.delete-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c4747;
  border: none;
  border-radius: 8px;
  width: 58px;
  height: 39px;
  margin-top: 1.5px;
}

.delete-btn p {
  color: #f6f6f6;
  font-size: 16px;
}

/* sec-form */
.sec-form {
  margin: 26px 16px 0 16px;
  position: relative;
}

.wrap {
  display: flex;
  align-items: center;
  margin-top: 40px;
}

.wrap > p {
  font-size: 13px;
}

.box {
  display: flex;
}

.box-right {
  margin-left: 25px;
}

.id > p,
.id-content > p {
  color: #285f60;
  font-size: 15px;
}

.id,
.id-content {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid #72a7a8;
  border-radius: 13px;
  background-color: white;
  height: 24px;
  width: 68px;
}

.id-content {
  width: 38px;
}

#count_text,
#time_text,
#startpoint_text,
#endpoint_text {
  height: 24px;
  border-color: #72a7a8;
  background: 0;
  outline: none;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  font-size: 13px;
  color: #333333;
  margin-left: 10px;
  font-family: "Pretendard-Regular";
}

#count_text {
  width: 30px;
  padding-left: 30px;
}

#time_text {
  width: 90px;
  padding-left: 10px;
}

#startpoint_text,
#endpoint_text {
  width: 145px;
  padding-left: 10px;
  margin-left: 25px;
}

.wrap-content {
  align-items: center;
  margin-top: 40px;
}

.content_textBox {
  margin: 10px 0;
  width: 341px;
  height: 92px;
  border-color: #72a7a8;
  border: 2px solid #72a7a8;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea {
  background: none;
  border: none;
  outline: none;
  resize: none;
  width: 319px;
  height: 70px;
  font-family: "Pretendard-Regular";
  font-size: 13px;
  vertical-align: top;
  text-align: left;
  border: 0;
}

.select_style {
  width: 75px;
  height: 24px;
  border-color: #72a7a8;
  background: 0;
  outline: none;
  border-top: 0px;
  border-left: 0px;
  border-right: 0px;
  border-width: 1.6px;
  font-size: 13px;
  color: #333333;
  padding-left: 10px;
  padding-bottom: 5px;
  margin-left: 10px;
  background: no-repeat right/15% url("../image/down.png");
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  font-family: "Pretendard-Regular";
}

.select_style option {
  background-color: #72a7a8;
  color: #f6f6f6;
}

.write-btn {
  position: absolute;
  right: 66px;
  bottom: 426px;
}

.write-btn input[type="submit"] {
  font-family: "Pretendard-Regular";
}

#write {
  background-color: #1c4747;
  color: #f6f6f6;
  border: none;
  border-radius: 8px;
  width: 58px;
  height: 39px;
  font-size: 16px;
}
